Repository codyslexia/codyslexia, changes with the owners that CODEOWNERS names for each.
All owners: @moatorres, @codyslexia/core, @codyslexia/docs, @codyslexia/pipelines

CODEOWNERS:

# Copyright (c) 2023-2024 Codyslexia
# @license MIT
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

# if not covered below, default to @moatorres
* @moatorres
/e2e/**/* @moatorres
/plugins/**/* @moatorres
/scripts/**/* @moatorres
/tools/**/* @moatorres
/apps/**/* @moatorres @codyslexia/core
/libs/**/* @moatorres @codyslexia/core
package.json @codyslexia/core
pnpm-lock.yaml @codyslexia/core

# docs
/docs @codyslexia/docs

# scripts
/scripts/* @codyslexia/pipelines @moatorres

# ci
/.circleci/** @codyslexia/pipelines
/.github/** @codyslexia/pipelines
/.husky/** @codyslexia/pipelines

# misc
/CONTRIBUTING.md @moatorres
/CODE_OF_CONDUCT.md @moatorres
/CODEOWNERS @moatorres

# global config files
project.json @moatorres
jest.config.ts @moatorres
jest.preset.js @moatorres

feat(core): added user and project mongoose models
  apps/graphql/gateway/src/main.ts
  apps/graphql/gateway/src/supergraph-production.graphql
  apps/graphql/gateway/src/supergraph.graphql
  apps/graphql/projects/src/config/env.ts
  apps/graphql/projects/src/main.ts
  apps/graphql/projects/src/resolvers/index.ts
  apps/graphql/projects/src/resolvers/project-mutations.ts
  apps/graphql/projects/src/resolvers/project-queries.ts
  apps/graphql/projects/src/schema.graphql
  apps/graphql/projects/src/shared/infra/database/mongoose/config.ts
  apps/graphql/projects/src/shared/infra/database/mongoose/models/Project.ts
  apps/graphql/users/src/config/env.ts
  apps/graphql/users/src/main.ts
  apps/graphql/users/src/resolvers/index.ts
  apps/graphql/users/src/resolvers/user-mutations.ts
  apps/graphql/users/src/resolvers/user-queries.ts
  apps/graphql/users/src/schema.graphql
  apps/graphql/users/src/shared/infra/database/mongoose/config.ts
  apps/graphql/users/src/shared/infra/database/mongoose/models/User.ts
  apps/graphql/users/src/shared/utils/password-hasher.ts
  package.json
  pnpm-lock.yaml
  pyproject.toml
Owners: @moatorres, @codyslexia/core

feat(core): extend external entities on subgraphs
  apps/graphql/gateway/project.json
  apps/graphql/gateway/src/supergraph.graphql
  apps/graphql/projects/src/resolvers/index.ts
  apps/graphql/projects/src/resolvers/project-queries.ts
  apps/graphql/projects/src/schema.graphql
  apps/graphql/users/src/resolvers/index.ts
  apps/graphql/users/src/resolvers/user-queries.ts
  apps/graphql/users/src/schema.graphql
Owners: @moatorres, @codyslexia/core

fix(core): fix mutations with references
  apps/graphql/projects/src/resolvers/project-mutations.ts
  apps/graphql/projects/src/resolvers/project-queries.ts
Owners: @moatorres, @codyslexia/core

chore(core): add missing copyright headers
  apps/graphql/gateway/.env.example
  apps/graphql/projects/.env.example
  apps/graphql/users/.env.example
  apps/services/faker-api/.env.example
Owners: @moatorres, @codyslexia/core

chore(core): query federated supergraph and rest apis through frontend-web app
  Cargo.lock
  Makefile
  apps/backend/rustapi/Cargo.toml
  apps/backend/rustapi/src/main.rs
  apps/frontend/web/app/(auth)/login/page.tsx
  apps/frontend/web/app/(dashboard)/dashboard/projects/page.tsx
  apps/frontend/web/app/api/auth/totp/route.ts
  apps/frontend/web/components/get-totp.ts
  apps/frontend/web/components/totp.tsx
  apps/graphql/gateway/project.json
  apps/graphql/gateway/src/supergraph-production.graphql
  apps/graphql/users/src/main.ts
  apps/graphql/users/src/resolvers/format-error.ts
  apps/graphql/users/src/resolvers/index.ts
  nx.json
  pnpm-lock.yaml
Owners: @moatorres, @codyslexia/core

chore(core): improve gateway serve and re-enable rust plugin
  apps/graphql/gateway/project.json
  nx.json
  pnpm-lock.yaml
Owners: @moatorres, @codyslexia/core

fix(core): add seeds, rust, totp and graphql test fetches
  Cargo.lock
  apps/frontend/web/app/(auth)/register/page.tsx
  apps/frontend/web/app/api/auth/totp/route.ts
  apps/frontend/web/components/get-totp.ts
  apps/graphql/gateway/project.json
  apps/graphql/gateway/src/supergraph-production.graphql
Owners: @moatorres, @codyslexia/core

chore(repo): run pnpm audit fix
  package.json
  pnpm-lock.yaml
Owners: @codyslexia/core

chore(repo): update dependencies
  libs/plugins/graphql/package.json
  libs/plugins/rust/package.json
  libs/plugins/rust/src/generators/release-version/release-version.spec.ts
  libs/shared/utils/package.json
  libs/shared/utils/src/lib/encrypter.spec.ts
  nx.json
  package.json
  pnpm-lock.yaml
Owners: @codyslexia/core, @moatorres

setup(repo): remove workspace eslint-rules support
  .eslintrc.json
  tools/eslint-rules/index.ts
  tools/eslint-rules/jest.config.ts
  tools/eslint-rules/project.json
  tools/eslint-rules/rules/copyright.spec.ts
  tools/eslint-rules/rules/copyright.ts
  tools/eslint-rules/rules/example.spec.ts
  tools/eslint-rules/rules/example.ts
  tools/eslint-rules/rules/naming.spec.ts
  tools/eslint-rules/rules/naming.ts
  tools/eslint-rules/tsconfig.json
  tools/eslint-rules/tsconfig.lint.json
  tools/eslint-rules/tsconfig.spec.json
Owners: @moatorres

chore(repo): format and lint fix
  apps/graphql/gateway/src/supergraph.graphql
  libs/plugins/golang/package.json
  libs/plugins/workspace/package.json
  libs/plugins/zig/package.json
  package.json
Owners: @moatorres, @codyslexia/core

setup(repo): remove zig support
  libs/plugins/zig/.eslintrc.json
  libs/plugins/zig/README.md
  libs/plugins/zig/executors.json
  libs/plugins/zig/generators.json
  libs/plugins/zig/jest.config.ts
  libs/plugins/zig/package.json
  libs/plugins/zig/project.json
  libs/plugins/zig/src/executors/run/executor.spec.ts
  libs/plugins/zig/src/executors/run/executor.ts
  libs/plugins/zig/src/executors/run/schema.d.ts
  libs/plugins/zig/src/executors/run/schema.json
  libs/plugins/zig/src/index.ts
  libs/plugins/zig/tsconfig.json
  libs/plugins/zig/tsconfig.lib.json
  libs/plugins/zig/tsconfig.spec.json
  tsconfig.base.json
Owners: @moatorres, @codyslexia/core

chore(ci): update workflow frequency
  .github/workflows/check-graph-schema.yaml
  .github/workflows/lock-threads.yaml
  .github/workflows/stale-bot.yaml
Owners: @codyslexia/pipelines

chore(repo): update dependencies
  libs/plugins/golang/package.json
  libs/plugins/graphql/package.json
  libs/plugins/rust/package.json
  libs/plugins/workspace/package.json
  package.json
  pnpm-lock.yaml
Owners: @codyslexia/core

chore(core): fix typos
  apps/graphql/gateway/src/config/supergraph.dev.yaml
  apps/graphql/gateway/src/config/supergraph.prod.yaml
  libs/shared/core/src/lib/loaders/TLSConfigLoader.spec.ts
Owners: @moatorres, @codyslexia/core

feat(infra): working local ingress api routing
  apps/services/faker-api/k8s.yaml
  apps/services/faker-api/src/main.ts
  apps/services/faker-api/src/module/infra/http/api/main.ts
  apps/services/totp-api/k8s.yaml
  apps/services/totp-api/src/module/infra/http/api/main.ts
  libs/shared/infra/src/kustomize/overlays/dev/ingress.yaml
Owners: @moatorres, @codyslexia/core

chore(ci): add missing env var
  .github/workflows/nx-cloud-ci.yml
Owners: @codyslexia/pipelines

setup(ci): fix graph schema path
  .github/workflows/check-graph-schema.yaml
Owners: @codyslexia/pipelines

setup(ci): update nx cloud workflow
  .github/workflows/nx-cloud-ci.yml
Owners: @codyslexia/pipelines

setup(ci): use pnpm on ci
  .github/workflows/nx-cloud-ci.yml
Owners: @codyslexia/pipelines

fix(ci): set pnpm cache
  .github/workflows/nx-cloud-ci.yml
Owners: @codyslexia/pipelines

fix(ci): remove dte from ci
  .github/workflows/nx-cloud-ci.yml
Owners: @codyslexia/pipelines

setup(ci): explicitly set base branch for nx
  .github/workflows/nx-cloud-ci.yml
Owners: @codyslexia/pipelines

setup(ci): remove apollo studio workflow
  .github/workflows/check-graph-schema.yaml
Owners: @codyslexia/pipelines

feat(core): dockerize go and rust binaries
  .cargo/config.toml
  Cargo.lock
  apps/backend/goapi/Dockerfile
  apps/backend/goapi/k8s.yaml
  apps/backend/goapi/project.json
  apps/backend/goapi/src/main.go
  apps/backend/rustapi/Cargo.toml
  apps/backend/rustapi/Dockerfile
  apps/backend/rustapi/k8s.yaml
  apps/backend/rustapi/project.json
  apps/backend/rustapi/src/main.rs
  apps/backend/rustapi/src/main.test.rs
  apps/graphql/gateway/k8s.yaml
  apps/graphql/gateway/project.json
  apps/graphql/gateway/src/config/supergraph.dev.yaml
  apps/graphql/gateway/src/main.ts
  apps/graphql/projects/k8s.yaml
  apps/graphql/projects/project.json
  apps/graphql/users/k8s.yaml
  apps/graphql/users/project.json
  apps/services/faker-api/src/module/infra/http/api/main.ts
  apps/services/project-api/project.json
  apps/services/qrcode-api/k8s.yaml
  apps/services/qrcode-api/project.json
  apps/services/qrcode-api/src/main.ts
  apps/services/totp-api/project.json
  apps/services/totp-api/src/module/infra/http/api/main.ts
  go.mod
  go.sum
  libs/plugins/workspace/src/executors/docker/executor.ts
  libs/shared/infra/src/kustomize/overlays/dev/ingress.yaml
  package.json
  skaffold.yaml
Owners: @moatorres, @codyslexia/core

fix(core): serve rustapi with logging enabled
  Cargo.lock
  apps/backend/rustapi/Cargo.toml
  apps/backend/rustapi/src/main.rs
Owners: @moatorres, @codyslexia/core

feat(core): working graphql gateway
  apps/graphql/gateway/project.json
  apps/graphql/gateway/src/config/supergraph.local.yaml
  apps/graphql/gateway/src/main.ts
  apps/graphql/gateway/src/supergraph.graphql
  apps/graphql/projects/project.json
  apps/graphql/projects/src/main.ts
  apps/graphql/users/project.json
  libs/shared/utils/src/lib/graphql/context.ts
  skaffold.yaml
Owners: @moatorres, @codyslexia/core

chore(repo): bump nextjs
  package.json
  pnpm-lock.yaml
Owners: @codyslexia/core

setup(repo): remove python support on devcontainer
  .devcontainer/devcontainer.json
Owners: @moatorres

chore(repo): lint fix
  libs/plugins/workspace/package.json
Owners: @codyslexia/core

chore(test): minor changes
  libs/plugins/workspace/src/executors/k8s/executor.spec.ts
  libs/shared/core/src/lib/ddd/aggregate-root.spec.ts
  libs/shared/core/src/lib/ddd/aggregate-root.ts
  libs/shared/core/src/lib/ddd/domain-event.spec.ts
Owners: @moatorres, @codyslexia/core

setup(infra): move skaffold config files
  README.md
  ROADMAP.md
  libs/plugins/workspace/src/common/ProjectTags.ts
  libs/shared/infra/src/helm/rancher/skaffold.yaml
  libs/shared/infra/src/kustomize/base/kustomization.yaml
  libs/shared/infra/src/kustomize/base/roles.yaml
  libs/shared/infra/src/kustomize/components/openfaas/kustomization.yaml
  libs/shared/infra/src/kustomize/components/openfaas/namespace.yaml
  libs/shared/infra/src/kustomize/components/openfaas/secret.yaml
  libs/shared/infra/src/kustomize/overlays/dev/kustomization.yaml
  libs/shared/infra/src/skaffold/cert-manager.yaml
  libs/shared/infra/src/skaffold/ingress-controller.yaml
  libs/shared/infra/src/skaffold/mailhog.yaml
  libs/shared/infra/src/skaffold/mongodb-operator.yaml
  libs/shared/infra/src/skaffold/nats-jetstream.yaml
  libs/shared/infra/src/skaffold/openfaas.yaml
  libs/shared/infra/src/skaffold/prometheus-operator.namespace.yaml
  libs/shared/infra/src/skaffold/prometheus-operator.yaml
  libs/shared/infra/src/skaffold/rancher.yaml
  libs/shared/infra/src/skaffold/redis.yaml
  libs/shared/infra/src/skaffold/stack.yaml
  libs/shared/infra/src/skaffold/stackgres.yaml
  libs/shared/infra/src/skaffold/vault.yaml
  package.json
  skaffold.yaml
Owners: @moatorres, @codyslexia/core

setup(plugin): create docker plugin
  libs/plugins/docker/.eslintrc.json
  libs/plugins/docker/README.md
  libs/plugins/docker/jest.config.ts
  libs/plugins/docker/package.json
  libs/plugins/docker/project.json
  libs/plugins/docker/src/index.ts
  libs/plugins/docker/tsconfig.json
  libs/plugins/docker/tsconfig.lib.json
  libs/plugins/docker/tsconfig.spec.json
  tsconfig.base.json
Owners: @moatorres, @codyslexia/core

setup(repo): remove unused services
  apps/services/project-api/.env.sample
  apps/services/project-api/.eslintrc.json
  apps/services/project-api/jest.config.ts
  apps/services/project-api/project.json
  apps/services/project-api/src/config/index.ts
  apps/services/project-api/src/config/ssl/server.crt
  apps/services/project-api/src/main.ts
  apps/services/project-api/src/module/infra/http/api/main.ts
  apps/services/project-api/src/module/infra/http/graphql/main.ts
  apps/services/project-api/src/module/infra/http/graphql/resolvers/index.ts
  apps/services/project-api/src/module/infra/http/graphql/schema.graphql
  apps/services/project-api/tsconfig.app.json
  apps/services/project-api/tsconfig.json
  apps/services/project-api/tsconfig.spec.json
  apps/services/webauthn-api/.env.sample
  apps/services/webauthn-api/.eslintrc.json
  apps/services/webauthn-api/Dockerfile
  apps/services/webauthn-api/jest.config.ts
  apps/services/webauthn-api/project.json
  apps/services/webauthn-api/src/assets/.gitkeep
  apps/services/webauthn-api/src/main.ts
  apps/services/webauthn-api/tsconfig.app.json
  apps/services/webauthn-api/tsconfig.json
  apps/services/webauthn-api/tsconfig.spec.json
Owners: @moatorres, @codyslexia/core

chore(repo): lint fix
  apps/services/faker-api/project.json
  apps/services/qrcode-api/project.json
  apps/services/totp-api/project.json
  libs/plugins/rust/package.json
  libs/plugins/workspace/package.json
Owners: @moatorres, @codyslexia/core

chore(repo): update lockfile
  pnpm-lock.yaml
Owners: @codyslexia/core

chore(plugin): improve docker and k8s executors
  libs/plugins/workspace/src/common/constants.ts
  libs/plugins/workspace/src/executors/docker/executor.ts
  libs/plugins/workspace/src/executors/docker/schema.d.ts
  libs/plugins/workspace/src/executors/docker/schema.json
  libs/plugins/workspace/src/executors/docker/templates/nodejs-dockerfile.ts
  libs/plugins/workspace/src/executors/k8s/executor.ts
  libs/plugins/workspace/src/executors/k8s/schema.d.ts
  libs/plugins/workspace/src/executors/k8s/schema.json
  libs/plugins/workspace/src/executors/k8s/templates/project-autoscaler.ts
  libs/plugins/workspace/src/executors/k8s/templates/project-deployment.ts
  libs/plugins/workspace/src/executors/k8s/templates/project-pdb.ts
  libs/plugins/workspace/src/executors/k8s/templates/project-secret.ts
  libs/plugins/workspace/src/executors/k8s/templates/project-service.ts
  skaffold.yaml
Owners: @moatorres, @codyslexia/core

fix(ci): graphql gateway lint target
  apps/graphql/gateway/project.json
  apps/graphql/users/secrets.json
Owners: @moatorres, @codyslexia/core

fix(ci): update go lint target
  libs/backend/loggo/project.json
  libs/backend/utils/project.json
Owners: @moatorres

fix(ci): more lint fixes
  apps/backend/goapi/project.json
  libs/backend/loggo/project.json
  libs/backend/utils/project.json
Owners: @moatorres
