Repository codyslexia/codyslexia, changes with the owners that CODEOWNERS names for each.
All owners: @moatorres, @codyslexia/core, @codyslexia/docs, @codyslexia/pipelines

fix(ci): update and skip tests
  libs/plugins/golang/src/graph/create-dependencies.spec.ts
  libs/plugins/rust/src/generators/release-version/release-version.spec.ts
  libs/plugins/workspace/src/executors/docker/executor.spec.ts
  libs/plugins/workspace/src/executors/k8s/executor.spec.ts
Owners: @moatorres, @codyslexia/core

chore(core): use scratch image for go binaries
  apps/backend/goapi/Dockerfile
Owners: @moatorres, @codyslexia/core

chore(repo): clean up
  apps/backend/goapi/Dockerfile
  apps/backend/rustapi/Dockerfile
  apps/frontend/web/app/(dashboard)/dashboard/page.tsx
  apps/frontend/web/app/api/auth/totp/route.ts
  apps/frontend/web/app/api/status/route.ts
  apps/frontend/web/components/get-totp.ts
  apps/graphql/gateway/Dockerfile
  apps/graphql/projects/Dockerfile
  apps/graphql/users/Dockerfile
  libs/plugins/workspace/project.json
  libs/shared/core/src/lib/errors/ExpressValidationError.spec.ts
  libs/shared/core/src/lib/errors/ExpressValidationError.ts
  libs/shared/core/src/lib/errors/index.ts
  libs/shared/infra/src/terraform/gcp/provider.tf
  nx.json
  package.json
  pnpm-lock.yaml
Owners: @moatorres, @codyslexia/core

chore(repo): lint fixes
  README.md
  apps/frontend/web/app/(dashboard)/dashboard/projects/page.tsx
  apps/graphql/projects/src/resolvers/index.ts
  apps/graphql/projects/src/shared/infra/database/mongoose/models/Project.ts
  apps/graphql/users/src/resolvers/user-queries.ts
  apps/graphql/users/src/shared/infra/database/mongoose/models/User.ts
  apps/services/faker-api/src/module/utils-get-api-options.ts
  apps/services/faker-api/src/module/utils.ts
  libs/plugins/workspace/src/executors/k8s/executor.ts
  nx.json
Owners: @moatorres, @codyslexia/core

chore(repo): remove unused files
  apps/graphql/gateway/Dockerfile
  apps/graphql/gateway/k8s.yaml
  apps/graphql/projects/Dockerfile
  apps/graphql/projects/k8s.yaml
  apps/graphql/users/Dockerfile
  apps/graphql/users/k8s.yaml
Owners: @moatorres, @codyslexia/core

setup(plugin): update golang plugin
  libs/plugins/golang/executors.json
  libs/plugins/golang/src/executors/test/executor.spec.ts
  libs/plugins/golang/src/executors/test/executor.ts
  libs/plugins/golang/src/executors/test/schema.d.ts
  libs/plugins/golang/src/executors/test/schema.json
  libs/plugins/golang/src/executors/tidy/executor.spec.ts
  libs/plugins/golang/src/executors/tidy/executor.ts
  libs/plugins/golang/src/executors/tidy/schema.d.ts
  libs/plugins/golang/src/executors/tidy/schema.json
  libs/plugins/golang/src/generators/application/generator.spec.ts
  libs/plugins/golang/src/generators/application/generator.ts
  libs/plugins/golang/src/generators/library/generator.spec.ts
  libs/plugins/golang/src/generators/library/generator.ts
  libs/plugins/golang/src/utils/index.ts
  libs/plugins/golang/src/utils/nx-bridge.spec.ts
  libs/plugins/golang/src/utils/nx-bridge.ts
Owners: @moatorres, @codyslexia/core

chore(plugin): update rust plugin
  libs/plugins/rust/src/executors/release-publish/executor.ts
  libs/plugins/rust/src/generators/release-version/release-version.spec.ts
  libs/plugins/rust/src/generators/release-version/release-version.ts
Owners: @moatorres, @codyslexia/core

setup(plugin): update workspace plugin
  libs/plugins/workspace/src/common/constants.ts
  libs/plugins/workspace/src/executors/docker/schema.json
Owners: @moatorres, @codyslexia/core

fix(core): fix wrong return type
  apps/graphql/projects/src/shared/infra/database/mongoose/models/Project.ts
  apps/graphql/users/src/shared/infra/database/mongoose/models/User.ts
Owners: @moatorres, @codyslexia/core

setup(repo): update node base version
  .nvmrc
  apps/backend/goapi/project.json
Owners: @moatorres

chore(core): update nx version
  libs/plugins/golang/package.json
  libs/plugins/graphql/package.json
  libs/plugins/rust/package.json
  libs/plugins/rust/src/generators/release-version/release-version.spec.ts
  libs/plugins/workspace/package.json
  package.json
  pnpm-lock.yaml
Owners: @codyslexia/core, @moatorres

setup(repo): update paths to new dirs
  .github/workflows/nx-cloud-ci.yml
  .gitignore
  .npmrc
  skaffold.yaml
  tsconfig.base.json
Owners: @codyslexia/pipelines, @moatorres

setup(repo): update `tsconfig.base.json` paths
  tsconfig.base.json
Owners: @moatorres

chore(repo): remove unused files
  apps/frontend/web/proxy.conf.json
  apps/services/faker-api/src/assets/.gitkeep
  apps/services/qrcode-api/src/assets/.gitkeep
Owners: @moatorres, @codyslexia/core

chore(repo): update dependencies across package managers
  .nvmrc
  Cargo.lock
  go.mod
  go.sum
  package.json
  pnpm-lock.yaml
Owners: @moatorres, @codyslexia/core

chore(repo): update dependencies (#10)
  .nvmrc
  Cargo.lock
  apps/frontend/web/proxy.conf.json
  apps/services/faker-api/src/assets/.gitkeep
  apps/services/qrcode-api/src/assets/.gitkeep
  go.mod
  go.sum
  package.json
  pnpm-lock.yaml
Owners: @moatorres, @codyslexia/core

CODEOWNERS:

# Copyright (c) 2023-2024 Codyslexia
# @license MIT
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

# if not covered below, default to @moatorres
* @moatorres
/e2e/**/* @moatorres
/plugins/**/* @moatorres
/scripts/**/* @moatorres
/tools/**/* @moatorres
/apps/**/* @moatorres @codyslexia/core
/libs/**/* @moatorres @codyslexia/core
package.json @codyslexia/core
pnpm-lock.yaml @codyslexia/core

# docs
/docs @codyslexia/docs

# scripts
/scripts/* @codyslexia/pipelines @moatorres

# ci
/.circleci/** @codyslexia/pipelines
/.github/** @codyslexia/pipelines
/.husky/** @codyslexia/pipelines

# misc
/CONTRIBUTING.md @moatorres
/CODE_OF_CONDUCT.md @moatorres
/CODEOWNERS @moatorres

# global config files
project.json @moatorres
jest.config.ts @moatorres
jest.preset.js @moatorres
